[Unit]
After=bluetooth.target

[Service]
ExecStart=/home/ubuntu/waterer/launch_backend.sh
KillSignal=SIGINT

[Install]
WantedBy=default.target
