<div class="app-pump">
  <mat-card>
    <mat-card>
      <mat-card-title>Graph</mat-card-title>
      <mat-card-content>
        <p>
          <mat-slide-toggle
            [(ngModel)]="display_voltage"
            color="primary"
            (change)="onDisplayVoltageChange()"
          >
            Display Voltage
          </mat-slide-toggle>
          <br />
        </p>
        <plotly-plot
          [data]="graph.data"
          [layout]="graph.layout"
          [config]="graph.config"
        ></plotly-plot>
      </mat-card-content>
    </mat-card>


    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Settings</mat-panel-title>
      </mat-expansion-panel-header>

      <div
        fxLayout
        fxLayout="row"
        fxLayoutGap="10px"
        fxLayoutAlign="space-around"
        fxLayout.xs="column"
      >
        <mat-card fxLayout fxLayout="column">
          <mat-card-title>Feedback</mat-card-title>
          <div>
            <mat-slide-toggle
              [(ngModel)]="settings.feedback_active"
              color="primary"
              (change)="onSettingsChange()"
            >
              Active
            </mat-slide-toggle>
          </div>
          <div>
            <mat-form-field
              (change)="onSettingsChange()"
              class="example-form-field"
            >
              <mat-label>Target Humidity (%)</mat-label>
              <input
                matInput
                type="number"
                [(ngModel)]="settings.feedback_setpoint_pcnt"
              />
            </mat-form-field>
          </div>
          <div>
            <mat-form-field
              (change)="onSettingsChange()"
              class="example-form-field"
            >
              <mat-label>Run Interval (s)</mat-label>
              <input
                matInput
                type="number"
                [(ngModel)]="settings.pump_on_time_s"
              />
            </mat-form-field>
          </div>
          <div>
            <mat-form-field
              (change)="onSettingsChange()"
              class="example-form-field"
            >
              <mat-label>Update Interval (s)</mat-label>
              <input
                matInput
                type="number"
                [(ngModel)]="settings.pump_update_time_s"
              />
            </mat-form-field>
          </div>
        </mat-card>

        <mat-card fxLayout fxLayout="column">
          <mat-card-title>Humidity Calibration</mat-card-title>
          <div>
            <mat-form-field
              (change)="onSettingsChange()"
              class="example-form-field"
            >
              <mat-label>Dry Soil (V)</mat-label>
              <input
                matInput
                type="number"
                [(ngModel)]="settings.dry_humidity_V"
              />
            </mat-form-field>
            <button mat-button (click)="onTakeCurrentHumidityAsDry()">
              Take Current
            </button>
          </div>
          <div>
            <mat-form-field
              (change)="onSettingsChange()"
              class="example-form-field"
            >
              <mat-label>Wet Soil (V)</mat-label>
              <input
                matInput
                type="number"
                [(ngModel)]="settings.wet_humidity_V"
              />
            </mat-form-field>
            <button mat-button (click)="onTakeCurrentHumidityAsWet()">
              Take Current
            </button>
          </div>
        </mat-card>
      </div>
    </mat-expansion-panel>
    
    <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Manual Controls</mat-panel-title>
        </mat-expansion-panel-header>
        <p fxLayout fxLayoutGap="10px">
          <button mat-button (click)="onTurnOn()">Turn On</button>
          <button mat-button (click)="onTurnOff()">Turn Off</button>
          <button mat-button (click)="onGetStatus()">Update</button>
        </p>
      </mat-expansion-panel>
  </mat-card>
</div>
