<mat-card class="container">
  <mat-card-title>Waterer</mat-card-title>
  <mat-card
    fxLayout
    fxLayoutGap="10px"
    fxLayoutAlign="space-around"
    fxLayout.xs="column"
  >
    <div>
      <mat-slide-toggle
        [(ngModel)]="autoUpdate"
        color="primary"
        (change)="onAutoUpdateChange()"
      >
        Auto-Update
      </mat-slide-toggle>
    </div>
    <div>
      <button mat-stroked-button (click)="onSaveUserSettings()">
        Save Settings
      </button>
      </div>
      <div>
      <button mat-stroked-button (click)="onSaveHistory()">
        Save History
      </button>
    </div>
  </mat-card>

  <mat-tab-group>
    <div *ngFor="let channel of channels">
      <mat-tab>
        <ng-template mat-tab-label> Pump {{ channel + 1 }} </ng-template>
        <app-pump [channel]="channel"></app-pump>
      </mat-tab>
    </div>
  </mat-tab-group>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>About</mat-panel-title>
    </mat-expansion-panel-header>
    <mat-list>
      <mat-list-item>
        <h5>Arduino Address</h5>
        : {{ arduino_address }}
      </mat-list-item>
      <mat-list-item>
        <h5>Backend Version</h5>
        : {{ backend_version }}
      </mat-list-item>
      <mat-list-item>
        <h5>Frontend Version</h5>
        : {{ frontend_version }}
      </mat-list-item>
    </mat-list>
  </mat-expansion-panel>
</mat-card>
<notifier-container></notifier-container>
